.header 
{
  background:black;
  font-size: 90px;
  text-align: center;
  margin-top: 20px;
  font-family: cursive;
  letter-spacing: -5px;
  color: silver;
  text-shadow: 5px 10px 10px grey; 
}

#list li
{
  display: inline;
  text-decoration: none;
  font-size: 35px;
  padding-left: 100px;

}
 

ul a:hover
{
  text-decoration:underline;
  color:#CE0BF9;
}

#container
{
  width: 100%;
  height:70%;
  margin-top: 5%;
  margin-left: auto;
 
  background-color: white;
}

#container #left 
{
  width: 47%;
  height:90%;
  margin: 20px;
  float: left;
  text-align: center;
  
  background-color:white;
}

#container #right 
{
  width: 47%;
  height:90%;
  margin: 20px;
  text-align: left;
  font color: black;
  font-family: cursive;
  float:right;
  background-color:white;
}

#main
{
  width: 100%;
  height:70%;
  margin-top: 5%;
  margin-left: auto;
 
  background-color: white;
}

#main #col1 
{
  width: 47%;
  height:90%;
  margin: 20px;
  text-align: left;
  font color: black;
  font-family: cursive;
  float:right;
  background-color:white;
}

#main #col2
{
  width: 47%;
  height:90%;
  margin: 20px;
  float: left;
  text-align: center;
  
  background-color:white;
}
